  /* Custom styles that can't be done with Tailwind */
        .checkbox-option input[type="checkbox"] {
            display: none;
        }
        
        .checkbox-option input:checked + .checkbox-label {
            background-color: #EC5988;
            color: #FFFFFF;
            border-color: #EC5988;
        }
        
        .file-upload input[type="file"] {
            display: none;
        }
        
        .product-image i {
            color: #EC5988;
        }
        
        .topping-icon i {
            color: #EC5988;
        }
        
        .note-icon i {
            color: #FFFFFF;
        }
        
